<div class="loader d-flex justify-content-center align-items-center" *ngIf="loader">
    <i class="fa-solid fa-spinner fa-spin-pulse text-primary"></i>

</div>

<div class="dashboard d-flex flex-column align-items-center" *ngIf="!loader && this.access.canAccessFlag">
    <div class="search-bar px-2 py-2 mb-4 mt-3 d-flex">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" name="location" id="loc" placeholder="Search for location"  (click)="loc.value=''" autocomplete="off" (keyup)="locationSearch(loc.value)" #loc>
        <i class="fa-solid fa-location-crosshairs detect" title="Auto detect" (click)="getCurrentCity()"></i>

        <div class="search-result" *ngIf="showSearchResult">
            <ng-content *ngTemplateOutlet=" areaFound ? found : notFound ">

            </ng-content>
            <ng-template #notFound>
                <div class="result-item my-2 mx-2 px-2 py-1" (click)="getCurrentCity()">
                    Current Location
                </div>
            </ng-template>
            <ng-template #found>
                <div class="result-field my-2 mx-2" *ngFor="let item of locationData">
                    <div class="result-item mb-1 px-2 py-1" (click)="updateLoc($event)" #val>
                        {{item['name']}}, {{item['region']}}, {{item['country']}}
                    </div>
                    
                </div>
            </ng-template>
        </div>

    </div>
    
    <div class="content p-3 mx-auto">
        <div class="weather-loader d-flex justify-content-center align-items-center" *ngIf="apiLoader">
            <i class="fa-solid fa-spinner fa-spin-pulse text-white"></i>
        </div>
        
        <div *ngIf="!apiLoader">
            <div class="d-flex align-items-center">
                <i class="fa-solid fa-location-dot"></i>
            <p class="m-0">&nbsp;{{weatherData['location']['name']}}</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <img src="{{weatherData['current']['condition']['icon']}}" width="110px" alt="">
                <p class="">Today, {{d.getDate()}} {{month[d.getMonth()]}}</p>
                <h1>{{weatherData['current']['temp_c']}}℃</h1>
                <p>{{weatherData['current']['condition']['text']}}</p>
                <div class="d-flex">
                    <span class="material-symbols-outlined">
                        eco
                    </span>
                    <p class="">&nbsp; RealFeel | {{weatherData['current']['feelslike_c']}}℃</p>
                </div>
                <div class="d-flex">
                    <span class="material-symbols-outlined">air</span>
                    <p>&nbsp; wind | {{weatherData['current']['wind_kph']}} km/h</p>
                </div>
                <div class="d-flex">
                    <span class="right-main-content material-symbols-outlined">
                        humidity_high
                    </span>
                    <p class="m-0">&nbsp; Humidity | {{weatherData['current']['humidity']}}%</p>
                </div>
            </div>
        </div>
    </div>

    <div class="forecast mt-4 d-flex justify-content-around" title="5 days forcast">
        <div class="fore-item d-flex flex-column justify-content-center align-items-center" 
        *ngFor="let item of forecast; let i = index">
            <p class="m-0" >{{day[(i+d.getDay()+1)%7]}}</p>
            <img src="{{item['day']['condition']['icon']}}" width="40px" alt="">
            <p class="m-0">{{item['day']['maxtemp_c']}}℃</p>
        </div>
        
        
    </div>
    <button class="logout btn mt-2" (click)="this.access.canAccessFlag=false">
        Logout
    </button>

</div>

<div *ngIf="!this.access.canAccessFlag" class="restrict d-flex flex-column justify-content-center align-items-center">
    <div class="restrict-content p-5 d-flex flex-column align-items-center">
        <p>
            Access restricted to this page! 
        </p>
        <div class="d-flex align-items-center mb-2">
            <button class="btn  me-3" routerLink="/login">Login</button> 
            <span>Or</span>
            <button class="btn  ms-3" routerLink="/register">Sign Up</button>
        </div>
        <p class="m-0">
            To get access!
        </p>
    </div>
</div>